.to_top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #309b42;
  outline: none;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px #ff3c003a;
  }
  &:focus {
    outline: none;
  }
  svg {
    fill: #ffffff;
  }
  @media (max-width: 575px) {
    right: 16px;
  }
}
