.orderItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
  .itemInfo {
    display: flex;
    align-items: center;
    width: 100%;
    .itemName {
      margin-left: 16px;
      max-width: 300px;
      .itemDescription {
        display: block;
      }
    }
  }
}

@media (max-width: 800px) {
  .orderItem {
    display: none;
    .itemInfo {
      .itemName {
        .itemDescription {
          display: none;
        }
      }
    }
  }
}
