
.btn {
    cursor: pointer;
    width: 40%;
    background-color: #F6F8F9;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.41px;
    color: #25282A;
    padding: 17px 20px;
    border: 0;
    outline: none;
    margin-right: 16px;
    &:hover {
        background: rgba($color: #25282A, $alpha: 0.1);
    }
}

.btnPrimary {
    width: 60%;
    white-space: nowrap;
    background-color: #309B42;
    color: white;
    cursor: pointer;
    // background-color: #F6F8F9;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.41px;
    // color: #25282A;
    padding: 17px 10px;
    border: 0;
    outline: none;
    &:hover {
        background: rgba($color: #309B42, $alpha: 0.9);
    }
}
