.listStyle {
  &::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #309b42;
    margin-right: 8px;
    align-self: flex-start;
    margin-top: 5px;
  }
}

.btn {
  cursor: pointer;
  width: 50%;
  background-color: #f6f8f9;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: #25282a;
  padding: 17px 23px;
  border: 0;
  outline: none;
  margin-right: 24px;
  &:hover {
    background: rgba($color: #25282a, $alpha: 0.1);
  }
}

.btnPrimary {
  width: 50%;
  background-color: #309b42;
  color: white;
  cursor: pointer;
  // background-color: #F6F8F9;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.41px;
  // color: #25282A;
  padding: 17px 20px;
  border: 0;
  outline: none;
  &:hover {
    background: rgba($color: #309b42, $alpha: 0.9);
  }
}

.title {
  display: block;
}

.wrapper {
  margin: 32px 0;
}

@media (max-width: 575px) {
  .title {
    display: none;
  }
  .wrapper {
    display: flex;
    margin: 16px 0;
  }
  .wrapper {
    justify-content: center;
  }
}
