.input {
  width: 100%;
  height: 60px;
  outline: none;
  border: none;
  padding: 12px 0 12px 12px;
  font-family: 'Helvetica-Light', sans-serif;
  background: #f6f8f9;
  font-size: 17px;
  line-height: 22px;
  border: 1px solid #f6f8f9;
  &:focus {
    border: 1px solid #309b42;
  }
}
