.btn {
  align-self: flex-end;
  cursor: pointer;
  background-color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.41px;
  color: #309b42;
  padding: 15px 17px;
  border: 0;
  outline: none;
  transition: background-color 0.2s ease-out;
  display: block;
  &:hover {
    background-color: rgba($color: #000, $alpha: 0.08);
  }
}

.cardTitle {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.38px;
  font-weight: 700;
  color: #000 !important;
}

.firstChild {
  display: flex;
  width: 100%;
}

.description {
  display: block;
}

.title {
  display: block;
}

.paddingBox {
  padding: 32px;
}
.textBox {
  margin-left: 24px;
}

.innerTextBox {
  flex-direction: column;
}
.dateText {
  font-size: 13px;
  line-height: 18px;
  color: #84919a;
  font-weight: 500;
}
.descriptionTitle {
  font-size: 20px;
  line-height: 25px;
  color: #000 !important;
  letter-spacing: 0.38px;
  margin: 24px 0 !important;
}
.textOuterBox {
  justify-content: space-between;
}
.maxWidthBox {
  cursor: pointer;
  &:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
  }
}

@media (max-width: 820px) {
  .title {
    display: none;
  }
  .paddingBox {
    padding: 16px;
  }
  .btn {
    display: none;
  }
  .firstChild {
    flex-direction: column;
    max-width: 100%;
  }
  .description {
    display: none;
  }
  .cardTitle {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.38px;
    margin: 16px 0 !important;
    color: #000 !important;
    font-weight: 500;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
  }
  .textBox {
    margin-left: 0;
  }
  .innerTextBox {
    flex-direction: column-reverse;
  }
  .dateText {
    font-size: 15px !important;
    line-height: 20px !important;
    color: #5b6871 !important;
    font-weight: 500 !important;
  }
  .descriptionTitle {
    font-size: 14px;
    line-height: 25px;
    color: #000 !important;
    letter-spacing: 0.38px;
    margin: 8px 0 !important;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }
  .textOuterBox {
    justify-content: center;
  }
  .maxWidthBox {
    max-width: 100%;
    width: 100%;
  }
}
