.icon {
    // padding: 15px;
    cursor: pointer;
    transition: transform 0.2s ease-in;
    svg {
        vertical-align: middle;
    }
    &:hover {
        // background: #F6F8F9;
        // border-radius: 100%;   
        transform: translateX(10px);  
    }
    
}