.root {
  .product {
    padding-top: 48px;
  }
  .productButton {
    background-color: #f6f8f9;
    border: 0;
    outline: none;
    padding: 13px 0;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: #ffcd00;
    }
  }
  .productCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background-color: #f6f8f9;
  }
  .productTitle {
    margin-bottom: 24px;
  }
  .productCard {
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
    }
    .productBody {
      padding: 16px;
      .productTexts {
        margin-top: 20px;
        margin-bottom: 24px;
      }
    }
  }
  .animationBox {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.8s ease;
  }
  .counterBtn {
    padding: 0;
    border-radius: 0;
    @media (min-width: 1140px) {
      &:hover {
        background-color: #ffcd00;
      }
    }
  }
}

@media (max-width: 575px) {
  .root {
    .productTitle {
      margin-bottom: 16px;
    }
    .productName {
      height: 50px;
    }
    .productCard {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 8px;
      .productBody {
        padding: 0;
        width: 100%;
        .productTexts {
          margin-top: 8px;
          margin-bottom: 16px;
          padding: 0;
        }
      }
    }
  }
  .countBadge {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 541px) {
  .root {
    .product {
      padding-top: 36px;
    }
    .countBadge {
      width: 30px;
      height: 30px;
    }
  }
}
