.root {
  background-color: #fff;
  margin-top: 30px;
  padding: 50px 0;

  .logo {
    margin-right: 36px;
    margin-bottom: 0;
  }
  .footerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 52px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    .footerList {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    // &::after{
    //     border-bottom: 1px solid rgba($color: #000000, $alpha: 0.8);
    // }
  }
  .footerList {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footerNav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
  }
  .listLink {
    position: relative;
    color: black;
    font-family: 'HelveticaNeueCyr-Medium';
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.41px;
    white-space: nowrap;
    padding: 10px 12px;
    a {
      display: block;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  //   .activeLink {
  //     color: #309b42;
  //   }
  .socialBox {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    .footerList {
      flex-wrap: wrap;
    }
  }
  .hideIcons {
    display: block;
  }
  .hideReverse {
    display: none;
  }

  .listLinkIcon {
    display: block;
    font-family: 'HelveticaNeueCyr-Medium', sans-serif;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.41px;
    margin-right: 24px;
    white-space: nowrap;
    &:not(:last-child) {
      margin-right: 24px;
    }
    &:hover {
      svg {
        fill: #309b42;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .root {
    .logo {
      display: block;
      margin-bottom: 10px;
    }
    .footerNav {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      max-height: 200px;
      flex-wrap: wrap;
      margin-right: 0;
      .listItem {
        margin-right: 45px;
        a {
          padding-left: 0;
        }
      }
    }
    .footerBox {
      flex-direction: column;
      align-items: flex-start;
      .footerList:first-child {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        .listItem {
          margin-bottom: 24px;
        }
      }
    }
    .footerList {
      margin-bottom: 16px;
    }

    .socialBox {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 24px;
      .footerList {
        justify-content: flex-start;
      }
    }
    .hideIcons {
      display: none;
    }
    .hideReverse {
      display: block;
    }
  }
}
