.button {
    cursor: pointer;
    background-color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: black;
    padding: 17px 49px;
    border: 0;
    outline: none;
    &:focus {
        background-color: #309B42;
        color: white;
    }
}
.active{ 
    background-color: #309B42;
    color: #fff;
}
.button:not(:last-child) {
    margin-right: 24px;
}

@media (max-width: 575px) {
    .button {
        width: 50%;
    }

}