.title {
    display: block;
}

.statusBox {
    display: block;
}
.statusBoxResponsive {
    display: none;
}
.maxWidthBox {
    width: 60%;
}

.verticalMargin {
    margin: 32px 0;
}

.orderDate {
    margin-left: 32px;
}

@media (max-width: 1200px) {
    .title {
        display: none;
    }
    .verticalMargin {
        margin: 16px 0;
    }
    .maxWidthBox {
        width: 100%;
    }
    .statusBox {
        display: none;
    }
    .statusBoxResponsive {
        display: block;
    }
    .iconWrapper {
        padding: 8px 10px;
        background-color: #F6F8F9;
        border-radius: 36px;
        svg {
            vertical-align: middle;
        }
    }
    .orderDate {
        margin-left: 16px;
    }
}