.resumeWrapper {
  padding: 0 16px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dde2e4;
  margin: 4px 0px;
  height: 56px;
}
.resumeInput {
  width: 60%;
  outline: none;
  border: none;
  height: 100%;
}

.resumeBtn {
  width: 40%;
  background-color: #fff;
  height: 100%;
  border: none;
  border-left: 1px solid #dde2e4;
}

.inputWrapper {
  width: 100%;
  height: 60px;
  margin-top: 12px;
  border: 1px solid #dde2e4;
}

.inputText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #000;
  p {
    font-weight: 500;
  }
  &:focus {
    border: 1px solid #309b42;
  }
  h3 {
    line-height: 22px;
    font-size: 17px;
    letter-spacing: -0.41px;
    color: #6e7c87;
  }
}

.inputResume {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'HelveticaNeueCyr-Medium', sans-serif;
  font-weight: 550;
  background: #fff;
  font-size: 17px;
  line-height: 22px;
  border-left: 1px solid #dde2e4;
  cursor: pointer;
  color: #000;
}

// .inputResume::file-selector-button {
//     height: 100%;
//     border: none;
//     width: 30%;
//     background-color: #F6F8F9;
//     border-right: 1px solid #DDE2E4;
//     margin-right: 12px;
// }

.hiddenInput {
  display: none;
}

@media (max-width: 800px) {
  .inputResume {
    font-size: 13px;
    line-height: 20px;
  }
  .inputText p {
    font-size: 13px;
    line-height: 20px;
  }
}
