@import '../public/fonts/stylesheets.css';
@import './hero.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', 'HelveticaNeueCyr', -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f6f8f9 !important;
  scroll-behavior: smooth !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#boxFullWidthBig {
  width: 60%;
}
#boxFullWidthSml {
  width: 40%;
}

#boxRoot {
  margin: 56px 0;
  min-height: 50vh;
}

#verticalMargin {
  margin: 56px 0;
}
#productDialog {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px;
  background-color: #fff;
}

#productDialog .card {
  margin-top: 24px;
  margin-bottom: 24px;
}
#demo-customized-radios {
  color: #000;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 18px;
  margin-top: 24px;
}
#productDialog .css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: #000;
  font-size: 13px;
  line-height: 18px;
  font-family: 'HelveticaNeueCyr-Medium';
  font-weight: 500;
}

#demo-customized-radios .radioLabel {
  color: #000;
  font-size: 17px;
  line-height: 22px;
}
#productDialog.checkBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#productDialog .bottomBox {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 24px;
}
#productDialog .formButton {
  display: flex;
  background-color: #ffcd00;
  padding: 18px 16px;
  width: 70%;
  color: #000;
  border-radius: 0;
}

#productDialog .closeIcon {
  align-self: flex-end;
}

.title {
  display: block;
}

.checkoutFlex {
  display: flex;
  margin: 32px 0;
}

#nprogress .bar {
  background: #309b42 !important;
}

#shopBox .MuiPaper-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 25px 32px;
  overflow-y: hidden;
  min-width: 560px;
}
#shopBox .icon {
  align-self: flex-end;
  margin-bottom: 22px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#shopBox .iconTrash {
  align-self: center;
  vertical-align: middle;
  margin-right: 29px;
  cursor: pointer;
  /* margin-bottom: 22px; */
}

#shopBox .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
#shopBox .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

#shopBox .prodTitle {
  font-size: 17px;
  color: #000;
  /* overflow-x: hidden; */
}
#shopBox .items {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 15px 0;
}
#shopBox .right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 40px;
}
#shopBox .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 16px;
}
#shopBox .all {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* align-items: center; */
  justify-content: space-between;
  flex: 1 0 50%;
}
#shopBox .basketBody {
  /* flex: 1 0 50%; */
  overflow-y: auto;
  max-height: 80%;
  padding-right: 30px;
  margin-bottom: 30px;
}
#shopBox .btn {
  width: 100%;
  cursor: pointer;
  padding: 17px 0;
  border: 0;
  background-color: #309b42;
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
}
#shopBox .totalTitle {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: #000;
}

#shopBox .totalPrice {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
  color: #309b42;
}

#loginDialog .css-1161qt5 {
  width: 434px;
}

.css-uhb5lp {
  /* padding: 32px; */
  border-radius: 0;
  margin: 0;
}

#loginDialog .icon {
  display: flex;
  justify-content: flex-end;
  margin: 22px 22px 0 22px;
}

#loginDialog .btn {
  background-color: #309b42;
  color: white;
  font-size: 17px;
  line-height: 22px;
  font-family: 'HelveticaNeueCyr-Medium';
  font-weight: 700;
  width: 100%;
  border: 0;
  outline: none;
  padding: 17px 0;
  cursor: pointer;
}

#loginDialog .btn:hover {
  background-color: rgba(0, 155, 66, 0.9);
}

#loginDialog input {
  width: 100%;
  height: 56px;
  outline: none;
  border: none;
  padding: 17px 0 17px 16px;
  font-family: 'Helvetica-Light', sans-serif;
  background: #f6f8f9;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #f6f8f9;
}

#loginDialog input:focus {
  border: 1px solid #309b42;
}

#loginDialog input::placeholder {
  color: #84919a;
  font-weight: 500;
}

#bottomDrawerBox .MuiPaper-root {
  height: 90%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

#loginDialog .input:focus {
  border: 1px solid #309b42;
}

/* #loginDialog .css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  background-color: rgba(0, 0, 0, 0.82)
} */

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-radius: 0 !important;
  min-width: 320px;
}

/* #regionDialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 650px !important;
} */

.slick-track {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#banner .slick-dots {
  bottom: 20px;
  /* color: rgba(255, 255, 255, 0.6); */
  color: #fff;
}

#banner .slick-dots li button:before {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}

#banner .slick-dots li.slick-active button:before {
  color: #fff !important;
  opacity: 1;
  /* background-color: #fff; */
}

#banner .slick-dots li {
  width: 20px;
  height: 20px;
}

.phoneNumbers {
  transition: text-decoration 0.3s ease-out;
}

.phoneNumbers:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  #loginDialog .css-1161qt5 {
    width: 70vw;
  }

  /* #loginDialog .css-uhb5lp {
    padding: 24px;
  } */

  #loginDialog input {
    font-size: 16px;
    line-height: 20px;
  }

  #loginDialog input::placeholder {
    font-size: 14px;
  }

  .title {
    display: none;
  }
  .checkoutFlex {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
  }
  #boxFullWidthBig {
    width: 100%;
  }
  #boxFullWidthSml {
    width: 100%;
    margin-top: 16px;
  }

  .css-1u2w381-MuiModal-root-MuiDrawer-root {
    position: static;
  }
  .css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    position: static;
  }
  #shopBox .basketBody {
    padding-right: 5px;
  }
  #shopBox .prodTitle {
    font-size: 15px;
  }

  #shopBox .totalTitle {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #000;
  }
  #shopBox .totalPrice {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #309b42;
  }
  #shopBox .title {
    width: 60%;
    /* white-space: pre-wrap; */
    margin-left: 2px;
    margin-right: 10px;
  }

  #shopBox .items {
    width: 100%;
    margin: 15px 0;
  }
  #shopBox .header {
    margin-bottom: 5px;
  }
  #shopBox .header .MuiTypography-root {
    font-size: 16px;
  }

  #shopBox .MuiPaper-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 15px 15px;
    bottom: 0;
    min-width: auto;
  }

  #shopBox .right {
    margin-right: 0;
  }

  #boxRoot {
    margin: 16px 0;
  }
  .MuiContainer {
    width: 333px;
    padding: 5px;
    margin: 0 auto;
  }

  #banner .slick-dots {
    bottom: 12px;
    /* color: rgba(255, 255, 255, 0.6); */
    color: #fff;
  }

  #banner .slick-dots li button:before {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6);
  }

  #banner .slick-dots li.slick-active button:before {
    color: #fff !important;
    /* background-color: #fff; */
  }

  #banner .slick-dots li {
    width: 12px;
    height: 18px;
  }

  #productDialog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    background-color: #fff;
  }

  #productDialog .bottomBox {
    justify-content: center;
    display: flex;
    width: 100%;
    margin-bottom: 100px;
  }

  /* #productDialog .formButton .css-1tn5fcm-MuiTypography-root {
    display: none;
  } */
  #productDialog .formButton .css-fu8jil-MuiTypography-root {
    margin-right: 0;
  }

  #demo-customized-radios {
    display: none;
  }

  #productDialog
    .css-j204z7-MuiFormControlLabel-root
    .MuiFormControlLabel-label {
    font-size: 15px;
    line-height: 18px;
  }

  #bottomDrawerBox {
    z-index: 2000;
  }
  #bottomDrawerBox #productDialog {
    margin: 0;
  }

  #rightProfileDrawer .MuiPaper-root {
    width: 100%;
    position: absolute;
    bottom: 0 !important;
    top: auto;
    z-index: 900;
    background: #e5e5e5;
  }

  #verticalMargin {
    margin: 16px 0;
  }
  #orderProducts {
    display: none;
  }
}

/* keyframes */
.shake {
  animation: shakeCart 0.4s ease-in-out forwards;
}

@keyframes shakeCart {
  25% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}
